<html>
  <head>
    <link rel="stylesheet" href="../static/style.css">
    {% block head %}
    <title> Python Projekt </title>
    {% endblock %}
  </head>
  <body>
    <div id="content">
     {% block content %}
      {% for i in range(size) %}
        {% for j in range(size) %}
            <img src="static/images/maps/{{ gameMap[i][j] }}.png" width="32" height="32">
        {% endfor %}
        <br>
      {% endfor %}
    {% endblock %}
    </div>
    <div id="footer">
      {% block footer %}
      &copy; Copyright 2018-2019 by Bartłomiej Skrzypczak.
      {% endblock %}
    </div>
  </body>
</html>